@media (max-width: 481px) {
  h1:nth-of-type(1) {
    display: block;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  h1:nth-of-type(2) {
    display: block;
  }
}

@media (max-width: 1025px) {
  h1:nth-of-type(3) {
    display: block;
  }
}

html,
body {
  background-image: url("https://i.ibb.co/wNTGy0sX/plantefors-g.png");
  background-size: auto;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background: rgba(255, 255, 255, 0);
  z-index: 10;
  text-align: center;
  padding-top: 30px;
}

main {
  max-width: 800px;
  margin: auto;
  padding: 10px;
  flex: 1;
}

nav {
  background-color: #0c2c0ddc;
  width: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 1.4rem;
  display: block;
}

nav a:hover {
  background: #0b270c94;
  text-decoration: underline;
  color:rgb(168, 247, 168);
}

footer {
  text-align: center;
  padding: 0;
  background-color: #0c2c0ddc;
  color: white;
  place-content: bottom;
}

form {
  max-width: 400px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

input,
textarea,
select,
button {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-text h1 {
  margin: 0;
}

.header-text p {
  margin: 5px 0 0;
  padding-bottom: 50px;
  font-size: 1.2rem;
  color: rgb(72, 94, 34);
  font-weight: bold;
}

a img {
  max-width: 30%;
  height: auto;
}


.container {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap; 
}
.container img {
    width: 300px; 
    height: auto;
    border-radius: 8px; 
}


