@media (max-width: 481px) {
  h1:nth-of-type(1) {
    display: block;
  }
  .header-text p {
    font-size: clamp(1.2rem, 2vw, 1.4rem);
  }
  .header-text h1 {
    font-size: clamp(2rem, 5vw, 4rem);
    h1:nth-of-type(1) {
      display: block;
    }
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  h1:nth-of-type(2) {
    display: block;
  }
  .header-text p {
    font-size: clamp(12px, 2vw, 18px);
  }
  .header-text h1 {
    font-size: clamp(2rem, 5vw, 4rem);
    h1:nth-of-type(1) {
      display: block;
    }
  }
}

@media (min-width: 1025px) {
  h1:nth-of-type(3) {
    display: block;
  }
  
  html,
  body {
    background-image: url("https://i.ibb.co/wNTGy0sX/plantefors-g.png");
    background-size: auto;
    font-family: "Finger Paint", sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background-color: #faf6e763;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    cursor: url("data:image/x-icon;base64,AAACAAEAICAAAAAAAACoEAAAFgAAACgAAAAgAAAAQAAAAAEAIAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAADAAAABQAAAAgAAAAJAAAACQAAAAkAAAAJAAAABwAAAAQAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFAAAADgAAABoAAAAmAAAAMQAAADgAAAA8AAAAQAAAAEEAAABCAAAAQgAAAEAAAAA/AAAAOwAAADYAAAAtAAAAIgAAABYAAAALAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKAAAAHQAADT8AACeQAAAnowAAJ6YAAB6EAAAQYgAAAEwAAABMAAAATAAAAEwAAABMAAAATAAAAEwAAABMAAAATAAAAEwAAABMAAAASAAAAD4AAAAuAAAAFwAAAAUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADQAAACgAAABDAAAsxwAAMv8QFWX/EBVl/xAVZf8AADL/AAAv3QAAIY8AAAlXAAAATAAAAEwAAABMAAAATAAAAEwAAABMAAAATAAAAEwAAABMAAAATAAAAEsAAAA9AAAAIAAAAAYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAASAAAALwAAAEoAADL/KFOy/0CC//9Ad///QGz//0FZ//8tOr//FBty/wAAMfQAACSaAAAATAAAAEwAAABMAAAATAAAAEwAAABMAAAATAAAAEwAAABMAAAATAAAAEIAAAAmAAAACQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAbAAAANQAAMOYvbcz/P5H//z+R//8/kf//P5H//0B7//9ATOP/Nyyi/xQOVv8AAC/dAAAWbgAAAEwAAABMAAAATAAAAEwAAABMAAAATAAAAEsAAABDAAAALgAAABQAAAACAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAKAAAxxS9tzP8/kf//P5H//z9+7v8/hfT/P2zd/z8tpf8/QLb/QELM/ywuo/8EBj70AAAhjwAAAEsAAABKAAAARgAAAEAAAAA2AAAAJQAAABQAAAAGAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADKAIEmZ/z9+7v8/QLb/P1PH/z+L+f8/TMH/P4X0/z+R//8/jf//QGj//zlK5f8MEFj/AAAsogAAABYAAAAQAAAACgAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMkAMG1j/Pzqw/z86sP8/i/n/P5H//z+R//8/kf//P5H//z+R//8/kf//QGz//z1Q8v8MEFj/AAAynwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMu83J5f/P2zd/z+R//8/kf//P5H//z+R//8/kf//P5H//z+R//8/kf//QGz//z1Q8v8MEFj/AAAyYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAynyMZc/8/kf//P5H//z+R//8/hfT/P4X0/z+R//8/kf//P5H//z+R//8/kf//QGj//z1Q8v8EBT//AAAyQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADIwCBJM/z+R//8/kf//P2zd/z9Tx/8/kf//P5H//z+R//8/kf//P5H//z+R//8/jf//QVn//zFAzP8AADLfAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADK/L23M/z9+7v8/LaX/P3Lj/z+R//8/kf//P5H//z+R//8/kf//P5H//z+R//9Ab///QVX//wgLTP8AADJAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMmAQJGX/P0zB/z8tpf8/i/n/P5H//z+R//8/kf//P5H//z+R//8/kf//P4b//0Bs//9BVf//FBty/wAAMoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMt8vIoj/Py2l/z+R//8/kf//P5H//z+R//8/kf//P5H//z+K//9BWf//QVX//0FV//8hK5n/AAAygAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAyUBALT/8/LaX/P5H//z+R//8/kf//P5H//z+R//8/kf//QG///0FV//9BVf//QVX//xAVZf8AFxvPADIAvwAyAJ8AMgAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAyvyMZc/8/kf//P5H//z+R//8/kf//P5H//z+R//8ofMH/BEch/yFEgP89UPL/AAMv/wAyAP8AMgD/ADIA/wAyAP8AMgBgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADIgAAAy7zN22f8/kf//P5H//z+R//8/kf//P5H//xBQRf8ASxf/ADgG/wQxE/8AGRn/ADIA/wBhHP8AeCr/AE4R/wAyAO8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADJABApA7yNSpf8/kf//P5H//z+R//8/kf//N4Xf/wQ4EP8ARxL/ADYD/wA0Av8AMgD/AHQn/wCZWP8AcSz/ADIA/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADIwAAAy3wgSTP8gSZn/IEmZ/yBJmf8UN2n/ABwW/wAyAP8APQj/ADQC/wAyAP8AaiL/AK13/wCCR/8AMgD/ADIAQAAyAIAAMgBAADIAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAyYAAAMq8ABC7PACYN/wA7Bv8ARQv/AEUL/wBFC/8AMgD/ADIA/wBqIv8AtIL/AIZM/wAyAP8AMgD/ADIA/wAyAP8AMgDvADIAYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAyAI8ASBH/AItC/wCSTf8AmVj/AI5I/wCEOP8AaiL/AIpF/wC0gv8Ahj//AGoi/wBYF/8AWBf/AEkO/wA3A/8AMgD/ADIAMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADIAnwBrOf8AtIL/ALSC/wC0gv8AtIL/ALSC/wCmbf8AqnL/ALSC/wCfYv8Apm3/AKZt/wCjZ/8Ajkj/AHgq/wA7Bv8AMgCAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMgAwADIA7wBrOf8AnGr/ALSC/wC0gv8AtIL/ALSC/wC0gv8AtIL/ALSC/wC0gv8AtIL/ALSC/wC0gv8AfS3/AEkO/wAyAHAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMgAQADIAzwAyAP8AUyH/AJxq/wC0gv8AtIL/ALSC/wC0gv8Ae0n/AINR/wCUYv8Apm3/AI9S/wBcGf8AMgD/ADIAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAyAJ8AOgj/AINR/wC0gv8AtIL/AJxq/wB7Sf8AtIL/ALSC/wCDUf8AMgDvADIA/wAyAP8AMgD/ADIA7wAyAGAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMgBAADIA/wCUYv8AtIL/ALSC/wCsev8AShj/AGMx/wC0gv8AtIL/ALSC/wA6CP8AMgAgADIAQAAyAEAAAAAAAAAAAAAAAAAAAAD/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAyAIAAUyH/ALSC/wC0gv8AtIL/AGMx/wAyAL8AUyH/ALSC/wC0gv8AtIL/AFsp/wAyAHAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP8AAAD/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADIAUAAyAP8Ag1H/AKRy/wBbKf8AMgCfADIAEAA6CP8AtIL/ALSC/wC0gv8Ac0H/ADIAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA//////8AAAD/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADIAjwAyAP8AMgDvADIAgAAAAAAAAAAAADIAzwB7Sf8AtIL/ALSC/wBrOf8AMgCAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD///////////8AAAD/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMgAwADIA7wBjMf8AYzH/ADoI/wAyAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP8AAAD/AAAA/wAAAP8AAAD/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMgAgADIAcAAyAIAAMgBAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA///////////4f///8A////AD///wAf//8AB///AAP//4AB//+AAf//gAD//8AAf//AAH//4AA//+AAP//wAA//8AAH//gAA//8AAP//gAC//+AAD//wAAf/8AAD//gAB//8AAf/+AAP//gA/f/wAPz/+CB8f/hgfD//8Pwf//38="),
    auto;
  }
  
  main {
    max-width: 800px;
    margin: auto;
    padding: 10px;
    flex: 1;
  }
  
  nav {
    background-color: #0c2c0ddc;
    width: 100%;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    padding: clamp(0.8rem, 2vw, 1.4rem);
    font-size: clamp(0.9rem, 2.5vw, 1rem);
    display: block;
  }
  
  nav a:hover {
    background: #0b270c94;
    text-decoration: underline;
    color: rgb(168, 247, 168);
    cursor: url("data:image/x-icon;base64,AAACAAEAICAAAAAAAACoEAAAFgAAACgAAAAgAAAAQAAAAAEAIAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAADAAAABQAAAAgAAAAJAAAACQAAAAkAAAAJAAAABwAAAAQAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFAAAADgAAABoAAAAmAAAAMQAAADgAAAA8AAAAQAAAAEEAAABCAAAAQgAAAEAAAAA/AAAAOwAAADYAAAAtAAAAIgAAABYAAAALAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKAAAAHQAADT8AACeQAAAnowAAJ6YAAB6EAAAQYgAAAEwAAABMAAAATAAAAEwAAABMAAAATAAAAEwAAABMAAAATAAAAEwAAABMAAAASAAAAD4AAAAuAAAAFwAAAAUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADQAAACgAAABDAAAsxwAAMv8QFWX/EBVl/xAVZf8AADL/AAAv3QAAIY8AAAlXAAAATAAAAEwAAABMAAAATAAAAEwAAABMAAAATAAAAEwAAABMAAAATAAAAEsAAAA9AAAAIAAAAAYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAASAAAALwAAAEoAADL/KFOy/0CC//9Ad///QGz//0FZ//8tOr//FBty/wAAMfQAACSaAAAATAAAAEwAAABMAAAATAAAAEwAAABMAAAATAAAAEwAAABMAAAATAAAAEIAAAAmAAAACQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAbAAAANQAAMOYvbcz/P5H//z+R//8/kf//P5H//0B7//9ATOP/Nyyi/xQOVv8AAC/dAAAWbgAAAEwAAABMAAAATAAAAEwAAABMAAAATAAAAEsAAABDAAAALgAAABQAAAACAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAKAAAxxS9tzP8/kf//P5H//z9+7v8/hfT/P2zd/z8tpf8/QLb/QELM/ywuo/8EBj70AAAhjwAAAEsAAABKAAAARgAAAEAAAAA2AAAAJQAAABQAAAAGAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADKAIEmZ/z9+7v8/QLb/P1PH/z+L+f8/TMH/P4X0/z+R//8/jf//QGj//zlK5f8MEFj/AAAsogAAABYAAAAQAAAACgAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMkAMG1j/Pzqw/z86sP8/i/n/P5H//z+R//8/kf//P5H//z+R//8/kf//QGz//z1Q8v8MEFj/AAAynwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMu83J5f/P2zd/z+R//8/kf//P5H//z+R//8/kf//P5H//z+R//8/kf//QGz//z1Q8v8MEFj/AAAyYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAynyMZc/8/kf//P5H//z+R//8/hfT/P4X0/z+R//8/kf//P5H//z+R//8/kf//QGj//z1Q8v8EBT//AAAyQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADIwCBJM/z+R//8/kf//P2zd/z9Tx/8/kf//P5H//z+R//8/kf//P5H//z+R//8/jf//QVn//zFAzP8AADLfAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADK/L23M/z9+7v8/LaX/P3Lj/z+R//8/kf//P5H//z+R//8/kf//P5H//z+R//9Ab///QVX//wgLTP8AADJAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMmAQJGX/P0zB/z8tpf8/i/n/P5H//z+R//8/kf//P5H//z+R//8/kf//P4b//0Bs//9BVf//FBty/wAAMoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMt8vIoj/Py2l/z+R//8/kf//P5H//z+R//8/kf//P5H//z+K//9BWf//QVX//0FV//8hK5n/AAAygAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAyUBALT/8/LaX/P5H//z+R//8/kf//P5H//z+R//8/kf//QG///0FV//9BVf//QVX//xAVZf8AFxvPADIAvwAyAJ8AMgAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAyvyMZc/8/kf//P5H//z+R//8/kf//P5H//z+R//8ofMH/BEch/yFEgP89UPL/AAMv/wAyAP8AMgD/ADIA/wAyAP8AMgBgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADIgAAAy7zN22f8/kf//P5H//z+R//8/kf//P5H//xBQRf8ASxf/ADgG/wQxE/8AGRn/ADIA/wBhHP8AeCr/AE4R/wAyAO8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADJABApA7yNSpf8/kf//P5H//z+R//8/kf//N4Xf/wQ4EP8ARxL/ADYD/wA0Av8AMgD/AHQn/wCZWP8AcSz/ADIA/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADIwAAAy3wgSTP8gSZn/IEmZ/yBJmf8UN2n/ABwW/wAyAP8APQj/ADQC/wAyAP8AaiL/AK13/wCCR/8AMgD/ADIAQAAyAIAAMgBAADIAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAyYAAAMq8ABC7PACYN/wA7Bv8ARQv/AEUL/wBFC/8AMgD/ADIA/wBqIv8AtIL/AIZM/wAyAP8AMgD/ADIA/wAyAP8AMgDvADIAYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAyAI8ASBH/AItC/wCSTf8AmVj/AI5I/wCEOP8AaiL/AIpF/wC0gv8Ahj//AGoi/wBYF/8AWBf/AEkO/wA3A/8AMgD/ADIAMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADIAnwBrOf8AtIL/ALSC/wC0gv8AtIL/ALSC/wCmbf8AqnL/ALSC/wCfYv8Apm3/AKZt/wCjZ/8Ajkj/AHgq/wA7Bv8AMgCAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMgAwADIA7wBrOf8AnGr/ALSC/wC0gv8AtIL/ALSC/wC0gv8AtIL/ALSC/wC0gv8AtIL/ALSC/wC0gv8AfS3/AEkO/wAyAHAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMgAQADIAzwAyAP8AUyH/AJxq/wC0gv8AtIL/ALSC/wC0gv8Ae0n/AINR/wCUYv8Apm3/AI9S/wBcGf8AMgD/ADIAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAyAJ8AOgj/AINR/wC0gv8AtIL/AJxq/wB7Sf8AtIL/ALSC/wCDUf8AMgDvADIA/wAyAP8AMgD/ADIA7wAyAGAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMgBAADIA/wCUYv8AtIL/ALSC/wCsev8AShj/AGMx/wC0gv8AtIL/ALSC/wA6CP8AMgAgADIAQAAyAEAAAAAAAAAAAAAAAAAAAAD/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAyAIAAUyH/ALSC/wC0gv8AtIL/AGMx/wAyAL8AUyH/ALSC/wC0gv8AtIL/AFsp/wAyAHAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP8AAAD/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADIAUAAyAP8Ag1H/AKRy/wBbKf8AMgCfADIAEAA6CP8AtIL/ALSC/wC0gv8Ac0H/ADIAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA//////8AAAD/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADIAjwAyAP8AMgDvADIAgAAAAAAAAAAAADIAzwB7Sf8AtIL/ALSC/wBrOf8AMgCAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD///////////8AAAD/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMgAwADIA7wBjMf8AYzH/ADoI/wAyAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP8AAAD/AAAA/wAAAP8AAAD/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMgAgADIAcAAyAIAAMgBAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA///////////4f///8A////AD///wAf//8AB///AAP//4AB//+AAf//gAD//8AAf//AAH//4AA//+AAP//wAA//8AAH//gAA//8AAP//gAC//+AAD//wAAf/8AAD//gAB//8AAf/+AAP//gA/f/wAPz/+CB8f/hgfD//8Pwf//38="),
    auto;
  }
  
}
body p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.2rem;
}

form {
  max-width: 400px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

input,
textarea,
select,
button {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

header {
  text-align: center;
  padding-top: 20px;
}

.header-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.header-text {
  flex: 0.6;
  text-align: center;
}

.header-text h1 {
  font-style: normal;
  font-size: clamp(3rem, 5vw, 4rem);
  color: #4a6f3d;
  text-align: center;
  letter-spacing: 4px;
  font-weight: 700;
  background: linear-gradient(90deg, #0f180be7, #a7fa0293);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin-top: 30px;
}

.header-text p {
  font-size: 1rem;
  color: rgb(72, 94, 34);
  font-weight: bold;
  margin-bottom: 40px;
  font-family: "Finger Paint", sans-serif;
}

.header-container img {
  width: clamp(50px, 15vw, 120px);
  height: auto;
  flex-shrink: 0;
}

.container {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}
.container img {
  width: 300px;
  height: auto;
  border-radius: 8px;
}

footer {
  text-align: center;
  padding: 0;
  background-color: #0c2c0ddc;
  color: white;
}